<app-navbar [isSearchShow]="true"></app-navbar>

<div style="margin-top: 10px; padding-top: 10px;">
  <header>
    <div class="navbar navbar-default" style="margin-top: -19px;">
      <div class="container-fluid">
        <div class="clearfix">
          <div class="pull-left">
            <span routerLink="/" class="back">
              <i class="fa fa-long-arrow-left"></i> Back</span>
            <span class="emp-name">{{employee.name}}</span>
          </div>
          <div class="pull-right">
          </div>
        </div>
      </div>

    </div>
  </header>
</div>
<div class="container-fluid" >
  <div class="row" style="padding-top: 10px; padding-bottom: 10px" *ngIf="isLoading">
    <div class="col-md-3 col-sm-12 col-12">
      <h5 style="margin-bottom: 1.5rem"> Call History</h5>
      <div class="card card-fixed-height">
        <div class="row nomargin" style="padding: 9px">
          <div class="col-6 col-sm-6 col-md-6 call-history-date" style="padding-right: 0px;padding-left: 0px"><span class="gray">From</span>
            <input class="form-control pointer" #fDate bsDatepicker [(ngModel)]="callFromDate" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
              style="padding-right: 5px;margin-left: calc(0.6vw)" (ngModelChange)="onChangeCallHistoryDate()">
            <!-- <input type="date" [(ngModel)]="callFromDate" (change)="onChangeCallHistoryDate()">   -->
            <!-- <i *ngIf="callFromDate" (click)="callFromDate=null;onChangeCallHistoryDate()" class="fa fa-close" style="margin-left: -20px"></i> -->
            <i *ngIf="!callFromDate" class="fa fa-angle-down noevent" style="position: absolute;right: 5px;top: 10px;"></i>
            <i *ngIf="callFromDate" (click)="callFromDate=null;onChangeCallHistoryDate()" class="fa fa-close" style="position: absolute;right: 5px;top: 10px;"></i>
          </div>
          <div class="col-6 col-sm-6 col-md-6 call-history-date" style="padding-left: 0.6vw;padding-right: 0px"><span class="gray">To</span>
            <input class="form-control pointer" #tDate="bsDatepicker" bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" [(ngModel)]="callToDate"
              style="padding-right: 5px;margin-left: calc(0.6vw)" (ngModelChange)="onChangeCallHistoryDate()">
            <!-- <i *ngIf="callToDate" (click)="callToDate=null;onChangeCallHistoryDate()" class="fa fa-close" style="margin-left: -20px"></i> -->
            <i *ngIf="!callToDate" class="fa fa-angle-down noevent" style="position: absolute;right: 5px;top: 10px;"></i>
            <i *ngIf="callToDate" (click)="callToDate=null;onChangeCallHistoryDate()" class="fa fa-close" style="position: absolute;right: 5px;top: 10px;"></i>
          </div>

        </div>
        <ul class="list-group list-group-flush call-history-list" id="call-history-list">

          <ng-container *ngIf="isCallHistoryLoading">
            <li class="">
              <div class="loader-container">
                <div class="item-1"></div>
                <div class="item-2"></div>
                <div class="item-3"></div>
              </div>
            </li>
          </ng-container>
          <ng-container *ngIf="!isCallHistoryLoading">
            <li class="list-group-item" *ngFor="let ch of callHistoryList, let i = index" (window:create)="setCurTitleDate(ch.date)">
              <!-- <ul class="nopadding">
                    <li *ngIf="callFromDate!==callToDate || !callFromDate">
                      <div class="col-md-8">
                          <span class="cnt-date">{{ch.date | date}}</span>  
                      </div>
                    </li>
                    <li> -->
              <div class="row dropdown">
                <div class="col-1 col-sm-1 col-md-1">
                  <img src="../../assets/img/incoming.png" *ngIf="ch.type===1" class="callimg" />
                  <img src="../../assets/img/outgoing.png" *ngIf="ch.type===2" class="callimg" />
                  <img src="../../assets/img/missed.png" *ngIf="ch.type===3" class="callimg" />
                </div>
                <div class="col-4 col-sm-4 col-md-4 hide-overflow" style="padding-right: 0px">
                  <span class="cnt-name pointer" (click)="getCallHistoryOfNumber(ch.logbooknumber, ch.contactname, template)">{{ch.contactname || "Unknown number"}}</span>
                  <br/>
                  <span class="cnt-number pointer" (click)="getCallHistoryOfNumber(ch.logbooknumber, ch.contactname, template)">{{ch.logbooknumber}}</span>
                </div>
                <div class="col-2 col-md-2 col-sm-2" style="padding-right: 0px">
                  <!-- <img src="../../assets/img/small-incoming.png" class="callsign-icon"/> -->
                  <i class="fa fa-long-arrow-down fa-rotate-45 incoming-color callsign-icon"></i>
                  <span class="incoming-color">{{ch.incomingCount}}</span>
                  <br/>
                  <!-- <img src="../../assets/img/small-outgoing.png" class="callsign-icon"/> -->
                  <i class="fa fa-long-arrow-down fa-rotate-225 outgoing-color callsign-icon"></i>
                  <span class="outgoing-color">{{ch.outgoingCallCount}}</span>
                </div>
                <div class="col-3 col-md-3 col-sm-3" style="padding-right: 0px">
                  <span class="cnt-date">{{ch.date | date}}</span>
                  <br/>
                  <span class="cnt-time">{{ch.date | date:'hh:mm:ss aa'}}</span>

                </div>
                <div class="col-2 col-md-2 col-sm-2 center">
                  <i class="fa fa-2x disabled" *ngIf="!ch.recording || !ch.duration" [ngClass]="{'fa-play-circle-o':callhistory_showone || currentPlayingIndex !== i || (currentPlayingIndex === i && isPaused),'fa-pause-circle-o':currentPlayingIndex === i && !isPaused && !callhistory_showone}">
                  </i>
                  <i class="fa fa-2x pointer" *ngIf="ch.recording&&ch.duration" [ngClass]="{'fa-play-circle-o':callhistory_showone || currentPlayingIndex !== i || (currentPlayingIndex === i && isPaused),'fa-pause-circle-o':currentPlayingIndex === i && !isPaused && !callhistory_showone}"
                    (click)="playRecordedCall(ch.recording,i, false)" style="color: #4c8efc"></i>
                  <br/>
                  <span class="cnt-number">{{ch.duration | timestamp :'hh:mm:ss'}}</span>
                </div>
                <!-- <div class="row shadow audio-play-board" *ngIf="ch.recording&&currentPlayingIndex===i" (blur)="closeAudioBoard()" tabindex="{{i}}" style="width: 100%"> -->
                <div class="row shadow audio-play-board" *ngIf="ch.recording&&currentPlayingIndex===i&&callhistory_showone===false" style="width: 100%;padding-top: 11px">
                  <div class="col-md-3 col-xs-3 col-sm-3 center">
                    <span class="fa fa-stop-circle-o middle" style="color: #4c8efc; padding-right: 2px" (click)="onStopAudio()"></span>
                    <span class="middle">{{(currentAudioTime|timestamp:'mm:ss')||"00:00"}}</span>
                  </div>
                  <div class="col-md-6 col-xs-6 col-sm-6 center">
                    <input type="range" min="0" [max]="ch.duration" step="1" class="slider" [value]="currentAudioTime" #ref (change)="setAudioCurTime(ref.value)"
                    />
                  </div>
                  <div class="col-md-3 col-xs-3 col-sm-3 center">
                    <span  class="middle" style="padding-right: 2px">{{ch.duration|timestamp:'mm:ss'}}</span>
                    <span class="middle fa" style="color: #4c8efc" [ngClass]="{'fa-pause-circle-o':isPaused===false,'fa-play-circle-o':isPaused===true}"
                      (click)="playOrPauseAudio()"></span>
                  </div>
                  <a class="remove" (click)="currentPlayingIndex=-1;playAudio.pause();playAudio.currentTime=0">
                    <i class="fa fa-times-circle-o" style="font-size: calc(1vw)!important"></i>
                  </a>
                </div>
              </div>

            </li>
            <li class="list-group-item center" *ngIf="!iscallHistoryEnd && !isCallHistoryLoadmoreLoading">
              <span class="pointer" style="display: block; width: 100%" (click)="loadMoreCallHistory()">Load More</span>
            </li>
            <li class="list-group-item center" *ngIf="isCallHistoryLoadmoreLoading">
              <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif" style="width: 100px; height: auto" />
            </li>
            <li class="nodata" *ngIf="callHistoryList.length==0">
              <p>No Data</p>
            </li>
          </ng-container>
        </ul>

      </div>
      <!-- <div class="row padding-10">
        <div class="col-md-6 col-sm-6 col-12 left">
          <h6 class="margintop10">Returning Callers</h6>
        </div>
        <div class="col-md-6 col-sm-6 col-12 right">
          <div class="selectdiv">
            <select class="form-control" style="background: transparent" [(ngModel)]="returnCallers" (ngModelChange)="onReturningCallChange()">
              <option value="1">1 Week+</option>
              <option value="2">2 Week+</option>
              <option value="3">3 Week+</option>
              <option value="6">6 Week+</option>
              <option value="9">9 Week+</option>
              <option value="12">1 Year+</option>
            </select>
            <span style="position: absolute;right: 17px;top:9px">
              <i class="fa fa-angle-down noevent" style="font-size: 22px"></i>
            </span>
          </div>

        </div>
      </div> -->
      <!-- <div class="card padding-20">
        <div class="row nomargin">
          <div class="col-6 col-sm-6 col-md-6 left">
            <small>Number of Calls</small>
          </div>
          <div class="col-6 col-sm-6 col-md-6 right">
            <span class="incoming-color">
              60 Callers(20%)
            </span>
          </div>
        </div>
      </div> -->
      
      <!--------------------------------------- call log history of specific number  ------------------------------------------>
            
      <!---------------------------------------- end of specific number ----------------------------------------------------->

    </div>
    <div class="col-md-6 col-sm-12 col-12">
      <div class="row">
        <div class="col-6 col-sm-6 col-md-6">
          <h5 style="margin-bottom: 1.5rem">Overview</h5>
        </div>

      </div>
      <div class="row">
        <div class="col-4 col-sm-4 col-md-4">
          <div class="card col-md-12 sum_card-green">
            <div class="card-body">
              <h5 class="card-title">{{totalSummation?.incomingCalls}}</h5>
              <p class="card-text">Incoming Calls</p>
            </div>
          </div>
        </div>
        <div class="col-4 col-md-4 col-sm-4">
          <div class="card col-md-12 sum_card-yellow">
            <div class="card-body">
              <h5 class="card-title">{{totalSummation?.outgoingCalls}}</h5>
              <p class="card-text">Outgoing Calls</p>
            </div>
          </div>
        </div>
        <div class="col-4 col-sm-4 col-md-4">
          <div class="card col-md-12 sum_card-red">
            <div class="card-body">
              <h5 class="card-title">{{totalSummation?.missedCalls}}</h5>
              <p class="card-text">Missed Calls</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 padding-10 marginTop-10">
          <div class="row">
            <div class="col-6 col-sm-6 col-md-3">
              <h6>Interactive Chart</h6>
            </div>
            <div class="col-6 col-sm-6 col-md-9 right">
              <!-- <ngx-daterangepicker [(ngModel)]="dateRange" [options]="options"></ngx-daterangepicker> -->
              <!-- <a href="#" (click)="onTriggerDateRange($event)">click</a> -->
              <input type="text" matInput ngxDaterangepickerMd [locale]="{applyLabel: 'ok', format: 'D MMM, YYYY'}" startKey="start" endKey="end"
                [showCustomRangeLabel]="true" [showClearButton]="false" [alwaysShowCalendars]="true" [(ngModel)]="dateRange" startDate="25 Jul, 2018" endDate="23 Nov, 2018"
                name="daterange" class="daterange pointer cnt-name" [ranges]="rangeOption" placeholder="" (change)="onDateRangeChanged()"
                id="dateRangePicker" style="padding-right: 23px; min-width: 280px;font-weight: bold" />
              <i class="fa fa-angle-down noevent pointer" data-toggle="daterange" style="position: absolute;right: 10px;top: 7px;font-size: 22px"></i>

            </div>
          </div>
        </div>
        <div class="row fullwidth nomargin card" style="flex-direction: inherit;border-bottom: none">
          <div class="col-11 col-md-11 col-sm-11">
            <div class="row">
              <div class="col-3 col-sm-3 col-md-3 overview-card pointer">
                <div class="col-md-12" [ngClass]="{'card-green':firstItem.active,'default':!firstItem.active}">

                  <div class="card-body dropdown legend-group">
                    <h5 class="card-title" (click)="onLegendItemClick(firstItem)">{{formatLegendItemVal(firstItem.value, firstItem.unit)}}</h5>

                    <a data-toggle="dropdown" class="bottomborder">
                      <p class="card-text">{{firstItem.label}}</p>
                      <span class="fa fa-caret-down pointer" style="margin-left: 5px;margin-right: 5px"></span>
                    </a>

                    <ul class="dropdown-menu shadow" style="padding: 10px">
                      <li *ngFor="let item of dropdowns" class="ellipse" [ngClass]="{'active':firstItem.id===item.id}">
                        <a (click)="firstItem.label=item.label;firstItem.id=item.id;
                        firstItem.value=lineChartData.totalData[item.id]?lineChartData.totalData[item.id]:0;firstItem.unit=item.unit;onLegendItemChange()">{{item.label}}</a>
                      </li>
                    </ul>
                  </div>

                </div>
              </div>
              <div class="col-3 col-md-3 col-sm-3 overview-card pointer">
                <div class="col-md-12" [ngClass]="{'card-yellow':secondItem.active,'default':!secondItem.active}">
                  <div class="card-body dropdown legend-group">
                    <h5 class="card-title" (click)="onLegendItemClick(secondItem)">{{formatLegendItemVal(secondItem.value, secondItem.unit)}}</h5>

                    <a data-toggle="dropdown" class="bottomborder">
                      <p class="card-text">{{secondItem.label}}</p>
                      <span class="fa fa-caret-down pointer" style="margin-left: 5px;margin-right: 5px"></span>
                    </a>

                    <ul class="dropdown-menu shadow" style="padding: 10px">
                      <li *ngFor="let item of dropdowns" class="ellipse" [ngClass]="{'active':secondItem.id===item.id}">
                        <a (click)="secondItem.label=item.label;secondItem.id=item.id; 
                        secondItem.value=lineChartData.totalData[item.id]?lineChartData.totalData[item.id]:0;secondItem.unit=item.unit;onLegendItemChange()">{{item.label}}</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-3 col-sm-3 col-md-3 overview-card pointer">
                <div class="col-md-12" [ngClass]="{'card-red':thirdItem.active,'default':!thirdItem.active}">
                  <div class="card-body  dropdown legend-group">
                    <h5 class="card-title" (click)="onLegendItemClick(thirdItem)">{{formatLegendItemVal(thirdItem.value, thirdItem.unit)}}</h5>

                    <a data-toggle="dropdown" class="bottomborder">
                      <p class="card-text">{{thirdItem.label}}</p>
                      <span class="fa fa-caret-down pointer" style="margin-left: 5px;margin-right: 5px"></span>
                    </a>

                    <ul class="dropdown-menu shadow" style="padding: 10px">
                      <li *ngFor="let item of dropdowns" class="ellipse" [ngClass]="{'active':thirdItem.id===item.id}">
                        <a (click)="thirdItem.label=item.label;thirdItem.id=item.id; 
                        thirdItem.value=lineChartData.totalData[item.id]?lineChartData.totalData[item.id]:0;thirdItem.unit=item.unit; onLegendItemChange()">{{item.label}}</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-3 col-sm-3 col-md-3 overview-card pointer">
                <div class="col-md-12" [ngClass]="{'card-blue':forthItem.active,'default':!forthItem.active}">
                  <div class="card-body dropdown legend-group">
                    <h5 class="card-title" (click)="onLegendItemClick(forthItem)">{{formatLegendItemVal(forthItem.value, forthItem.unit)}}</h5>

                    <a data-toggle="dropdown" class="bottomborder">
                      <p class="card-text">{{forthItem.label}}</p>
                      <span class="fa fa-caret-down pointer" style="margin-left: 5px;margin-right: 5px"></span>
                    </a>

                    <ul class="dropdown-menu shadow" style="padding: 10px">
                      <li *ngFor="let item of dropdowns" class="ellipse" [ngClass]="{'active':forthItem.id===item.id}">
                        <a (click)="forthItem.label=item.label;forthItem.id=item.id; 
                        forthItem.value=lineChartData.totalData[item.id]?lineChartData.totalData[item.id]:0;forthItem.unit=item.unit; onLegendItemChange()">{{item.label}}</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-1 col-sm-1 col-md-1 center nopadding">
            <div class="dropdown agreegation-menu">
              <a data-toggle="dropdown">
                <div class="periodselect">
                  <span class="fa fa-ellipsis-v"></span>
                </div>
              </a>

              <ul class="dropdown-menu shadow padding-10">
                <!---->
                <li *ngFor="let p of periodList" [ngClass]="{'disabled': !p.enabled,'':p.enabled}" title="" (click)="onSetCurPeriod(p)">
                  <span *ngIf="curLineChartPeriod===p.period" class="fa fa-check" aria-hidden="true"></span>{{p.label}}</li>

              </ul>
            </div>
          </div>
          <div class="relative-popup shadow">

          </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 padding-10 card" style="border-top: none">
          <div id="chartContainer" style="height: 300px; width: 100%;">
            <!-- <app-multi-series-line-chart [categories]="[firstItem, secondItem, thirdItem, forthItem]"></app-multi-series-line-chart> -->
            <app-multi-series-highchart></app-multi-series-highchart>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 marginTop-10 card nopadding">
          <div class="row">
            <div class="col-md-6 padding-10">
              <span class="tabspan pointer" [ngClass]="{'active': barcharttype==='day', '':barcharttype!=='day'}" (click)="barcharttype='day'">Day</span>
              <span class="tabspan pointer" [ngClass]="{'active': barcharttype==='hour', '':barcharttype!=='hour'}" (click)="barcharttype='hour'">Hour</span>
            </div>
            <div class="col-md-6 right">

              <div class="dropdown agreegation-menu">
                <a data-toggle="dropdown">
                  <div class="category-select">
                    <label class="barchart-category ellipsis">
                      <span class="periodselect-label ellipsis pointer" style="width: 50px;">{{categoryOfBarChart.label}}</span>
                      <span class="fa fa-caret-down pointer" style="position: absolute; top: 7px;right: 0px;"></span>
                    </label>

                  </div>
                </a>

                <ul class="dropdown-menu shadow" style="padding: 10px">
                  <li *ngFor="let item of dropdowns" [ngClass]="{'active':categoryOfBarChart.id===item.id}">
                    <a (click)="categoryOfBarChart=item;onChangeCategoryOfHourly()">{{item.label}}</a>
                  </li>
                </ul>
              </div>
            </div>

          </div>
          <div id="barChart" style="height: 250px; width: 100%">
            <app-bar-chart [show]="barcharttype==='day'"></app-bar-chart>
            <app-vbar-chart [show]="barcharttype==='hour'"></app-vbar-chart>
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-3 col-sm-12 col-12">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-6">
          <h5 style="margin-bottom: 1.5rem">Customers</h5>
        </div>
        <div class="col-md-6 col-sm-6 col-6 right" style="margin-bottom: 5px">
          <div class="selectdiv">

            <select class="form-control pointer" style="background: transparent" [(ngModel)]="type" (ngModelChange)="onChangeSocialDate()">
              <option value="topCallers">Most Calls</option>
              <option value="totalDurations">Total Duration</option>
              <!-- <option value="weeklydashboard">Weekly Dashboard</option> -->
              <option value="averageDurations" selected>Average Duration</option>
              <option value="specialCalls">Periodic Customers</option>
              <option value="pastFriends">Past Customers</option>
              <option value="ignoreres">Low Call % Customers</option>
              <option value="friendliest">High Call % Customers</option>
              <option value="forgotenCallers">Forgotten Calls</option>
              <option value="forgotenNewCalls">Forgotten New Calls</option>
            </select>
            <span style="position: absolute;right: 17px;top:11px" class="noevent">
              <i class="fa fa-angle-down" style="font-size: 22px"></i>
            </span>
          </div>

        </div>
      </div>

      <div class="card card-fixed-height" style="height: 808px">

        <div class="row nomargin" style="padding: 10px" *ngIf="type==='totalDurations' || type==='averageDurations' || type==='topCallers'">
          <div class="col-md-4 col-sm-4 col-4 call-history-date nopadding">
            <input class="form-control pointer" #fDate bsDatepicker [(ngModel)]="socialFromDate" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
              style="padding-right: 10px; width: calc(100% - 5px)" (ngModelChange)="onChangeSocialDate()">

            <i *ngIf="socialFromDate" (click)="socialFromDate=null;onChangeSocialDate()" class="fa fa-close" style="margin-left: -15px"></i>
            <i *ngIf="!socialFromDate" class="fa fa-angle-down noevent" style="margin-left: -20px"></i>
          </div>
          <div class="col-md-4 col-sm-4 col-4 call-history-date nopadding"><span class="gray">To</span>
            <input class="form-control pointer" #tDate bsDatepicker [(ngModel)]="socialToDate" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
              style="padding-right: 10px;margin-left: 5px" (ngModelChange)="onChangeSocialDate()">
            <i *ngIf="socialToDate" (click)="socialToDate=null;onChangeSocialDate()" class="fa fa-close" style="margin-left: -15px"></i>
            <i *ngIf="!socialToDate" class="fa fa-angle-down noevent" style="margin-left: -20px"></i>
          </div>
          <div class="col-md-4 col-sm-4 col-4 nopadding" style="padding-left: 10px">
            <div class="selectdiv">
              <select class="form-control pointer" [(ngModel)]="subType" (ngModelChange)="onChangeSocialDate()">
                <option value="1">Incoming</option>
                <option value="2">Outgoing</option>
                <!-- <option value="3">Missed</option> -->
              </select>
              <span style="position: absolute;right: 12px;top:6px" class="noevent">
                <i class="fa fa-angle-down"></i>
              </span>
            </div>

          </div>
          <!-- <div class="col-md-1">
                <i class="fa fa-search pointer" (click)="onSocialDateChange()"></i>
              </div> -->
        </div>

        <div class="row nomargin" style="padding: 10px" *ngIf="type==='specialCalls'">
          <div class="col-md-4 col-sm-4 col-4 call-history-date nopadding">
            <input class="form-control pointer" #fDate bsDatepicker [(ngModel)]="socialFromDate" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
              style="padding-right: 10px; width: calc(100% - 5px)" (ngModelChange)="onChangeSocialDate()">

            <i *ngIf="socialFromDate" (click)="socialFromDate=null;onChangeSocialDate()" class="fa fa-close" style="margin-left: -15px"></i>
            <i *ngIf="!socialFromDate" class="fa fa-angle-down noevent" style="margin-left: -20px"></i>
          </div>
          <div class="col-md-4 col-sm-4 col-4 call-history-date nopadding"><span class="gray">To</span>
            <input class="form-control pointer" #tDate bsDatepicker [(ngModel)]="socialToDate" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
              style="padding-right: 10px;margin-left: 5px" (ngModelChange)="onChangeSocialDate()">
            <i *ngIf="socialToDate" (click)="socialToDate=null;onChangeSocialDate()" class="fa fa-close" style="margin-left: -15px"></i>
            <i *ngIf="!socialToDate" class="fa fa-angle-down noevent" style="margin-left: -20px"></i>
          </div>
          <div class="col-md-4 col-sm-4 col-4 nopadding" style="padding-left: 10px">
            <div class="selectdiv" style="margin-left: 5px">
              <select class="form-control pointer" [(ngModel)]="special_period" (ngModelChange)="onChangeSocialDate()">
                <option value="3">3 days</option>
                <option value="7">1 week</option>
                <option value="14">2 week</option>
                <option value="30">1 month</option>
                <option value="60" selected>2 months</option>
                <!-- <option value="3">Missed</option> -->
              </select>
              <span style="position: absolute;right: 12px;top:6px" class="noevent">
                <i class="fa fa-angle-down"></i>
              </span>
            </div>

          </div>
          <!-- <div class="col-md-1">
                  <i class="fa fa-search pointer" (click)="onSocialDateChange()"></i>
                </div> -->
        </div>

        <!-- forgottenCallers -->

        <div class="row nomargin" style="padding: 10px" *ngIf="type==='forgotenCallers' || type==='friendliest' || type==='ignoreres' || type==='forgotenNewCalls'">
          <div class="col-md-6 col-sm-6 col-6 call-history-date"><span class="gray">From</span>&nbsp;
            <input class="form-control pointer" #fDate="bsDatepicker" bsDatepicker [(ngModel)]="socialFromDate" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
              style="padding-right: 10px; width: calc(100% - 5px)" (ngModelChange)="onChangeSocialDate()">
            <i *ngIf="socialFromDate" (click)="socialFromDate=null;onChangeSocialDate()" class="fa fa-close" style="margin-left: -15px"></i>
            <i *ngIf="!socialFromDate" class="fa fa-angle-down noevent" style="margin-left: -20px"></i>
          </div>
          <div class="col-md-6 col-sm-6 col-6 call-history-date"><span class="gray">To</span>
            <input class="form-control pointer" #tDate="bsDatepicker" bsDatepicker [(ngModel)]="socialToDate" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
              style="padding-right: 10px;margin-left: 5px" (ngModelChange)="onChangeSocialDate()">
            <i *ngIf="socialToDate" (click)="socialToDate=null;onChangeSocialDate()" class="fa fa-close" style="margin-left: -15px"></i>
            <i *ngIf="!socialToDate" class="fa fa-angle-down noevent" style="margin-left: -20px"></i>
          </div>
        </div>
        <!-- forgottenCallers - end -->

        <!-- past friends -->
        <div class="row nomargin call-history-date" style="padding: 10px" *ngIf="type==='pastFriends'">
          <div class="col-md-6 col-sm-6 col-6 left nopadding">
            <label class="gray">Last Call</label>
          </div>
          <div class="col-md-6 col-sm-6 col-6 right nopadding">
            <select class="form-control pointer" [(ngModel)]="period" (ngModelChange)="onChangeSocialDate()">
              <option value="1">1 month+</option>
              <option value="2">2 month+</option>
              <option value="3">3 month+</option>

              <option value="6">6 month+</option>
              <option value="9">9 month+</option>
              <option value="12">1 year+</option>
            </select>
            <span style="position: absolute;right: 17px;top:6px" class="noevent">
              <i class="fa fa-angle-down"></i>
            </span>
          </div>
        </div>
        <ul class="list-group list-group-flush call-history-list" *ngIf="type!=='weeklydashboard'">

          <ng-container *ngIf="isSocialLoading">
            <li class="">
              <div class="loader-container">
                <div class="item-1"></div>
                <div class="item-2"></div>
                <div class="item-3"></div>
              </div>
            </li>
          </ng-container>
          <ng-container *ngIf="!isSocialLoading">
            <li class="list-group-item social" *ngFor="let ch of socialHistoryList| slice:0:nCurSocial, let i = index ">
              <div class="row">
                <div class="col-md-2 col-sm-2 col-2">
                    <img [src]="!ch.photo?'../../assets/img/img_avatar.png':'https://'+contact_photo_root_path+ch.photo" class="avatar pointer" onerror="this.src='../../assets/img/img_avatar.png'" (click)="getCallHistoryOfNumber(ch.number, ch.name, template)">
                </div>
                <div class="col-md-5 col-sm-5 col-5 hide-overflow" style="padding-right: 0px">
                  <span class="cnt-name pointer" (click)="getCallHistoryOfNumber(ch.number, ch.name, template)">{{ch.name || "Unknown number"}}</span>
                  <br/>
                  <span class="cnt-number pointer" (click)="getCallHistoryOfNumber(ch.number, ch.name, template)">{{ch.number}}</span>
                </div>
                <div class="col-md-5 col-sm-5 col-5" style="padding-right: 0px">
                  <div *ngIf="type==='topCallers'" class="col-md-4 col-sm-4 col-4" style="float: right">
                    <div class="call-count">

                      <i class="fa fa-long-arrow-down fa-rotate-45 incoming-color callsign-icon"></i>
                      <span class="incoming-color">
                        {{ch.incomingtotalcalls}}
                      </span>
                    </div>
                    
                    <div class="call-count">
                      <i class="fa fa-long-arrow-down fa-rotate-225 outgoing-color callsign-icon"></i>
                      <span class="outgoing-color">
                        {{ch.outgoingtotalcalls}}
                      </span>
                    </div>

                  </div>

                  <div *ngIf="type==='specialCalls'" class="col-4" style="float: right">
                    <div class="call-count">
                      <i class="fa fa-long-arrow-down fa-rotate-45 incoming-color callsign-icon"></i>

                      <span class="incoming-color">
                        {{ch.income_count}}
                      </span>
                    </div>
                    
                    <div class="call-count">
                      <i class="fa fa-long-arrow-down fa-rotate-225 outgoing-color callsign-icon"></i>
                      <span class="outgoing-color">
                        {{ch.out_count}}
                      </span>
                    </div>
                  </div>

                  <div *ngIf="type==='totalDurations' || type==='averageDurations'" class="col-8" style="text-align: right;float: right">
                    <div class="call-count">
                      <i class="fa fa-long-arrow-down fa-rotate-45 incoming-color callsign-icon"></i>
                      <span class="incoming-color">
                        {{ch.incomingtotalduration}}
                      </span>
                    </div>
                    
                    <div class="call-count">
                      <i class="fa fa-long-arrow-down fa-rotate-225 outgoing-color callsign-icon"></i>
                      <span class="outgoing-color">
                        {{ch.outgoingtalduration}}
                      </span>
                    </div>
                  </div>
                  <div *ngIf="type==='pastFriends'" class="row">
                    <div class="col-md-6 right">
                      <div class="incoming-color">
                        <i class="fa fa-long-arrow-down fa-rotate-45 incoming-color callsign-icon"></i>
                        <span>{{ch.incomingCall}}</span>
                      </div>
                      <div class="outgoing-color">
                        <i class="fa fa-long-arrow-down fa-rotate-225 outgoing-color callsign-icon"></i>
                        <span>{{ch.outgoingCall}}</span>
                      </div>

                    </div>
                    <div class="col-md-6 right" style="color: gray">
                      <span>Last Call</span>
                      <br>
                      <span>{{ch.lastDate|timestamp:'m/d/y'}}</span>
                      <br>
                      <span>{{ch.lastDate|timestamp:'h:m:s'}}</span>
                    </div>

                  </div>
                  <div *ngIf="type==='forgotenCallers' || type==='forgotenNewCalls'" class="col-8" style="text-align: right;float:right">
                    <div class="call-count row">
                      <div class="col-3">
                          <img src="../../assets/img/missed.png" class="callimg">
                      </div>
                      <div class="col-9">
                          <span>{{ch.date|date: 'hh:mm:ss'}}</span>
                      </div>
                    </div>
                    <div class="call-count">
                      <span>{{ch.date|date}}</span>
                    </div>
                  </div>
                  <div *ngIf="type==='friendliest'">
                    <div style="height: 46px; width:46PX; border-radius: 100%; padding: 10px;border: 1px solid #19b769;text-align: center; display: inline-block">
                      <span style="color: #19b769">{{getIncomvsOutgoing(ch.incomingCall, ch.outgoingCall)}}</span>
                    </div>
                    <div style="display: inline-block;float: right;margin-right: 10px">
                      <div class="incoming-color">
                        <i class="fa fa-long-arrow-down fa-rotate-45 incoming-color callsign-icon"></i>
                        <span>{{ch.incomingCall}}</span>
                      </div>
                      <div class="outgoing-color">
                        <i class="fa fa-long-arrow-down fa-rotate-225 outgoing-color callsign-icon"></i>
                        <span>{{ch.outgoingCall}}</span>
                      </div>

                    </div>


                  </div>

                  <div *ngIf="type==='ignoreres'">
                    <div style="height: 46px; width:46PX; border-radius: 100%; padding: 10px;border: 1px solid red;text-align: center;display: inline-block">
                      <span style="color: red">{{getIncomvsOutgoing(ch.outgoingCall, ch.incomingCall)}}</span>
                    </div>
                    <div style="display: inline-block;float: right;margin-right: 10px">
                      <div class="incoming-color">
                        <i class="fa fa-long-arrow-down fa-rotate-45 incoming-color callsign-icon"></i>
                        <span>{{ch.incomingCall}}</span>
                      </div>
                      <div class="outgoing-color">
                        <i class="fa fa-long-arrow-down fa-rotate-225 outgoing-color callsign-icon"></i>
                        <span>{{ch.outgoingCall}}</span>
                      </div>

                    </div>


                  </div>

                </div>

              </div>
            </li>
            <li class="list-group-item center" *ngIf="!isSocialEnd && !isSocialLoadmoreLoading &&type!=='ignoreres' && type!=='friendliest' &&type!=='specialCalls' &&type!=='forgotenCallers' &&type!=='pastFriends' && type!=='forgotenNewCalls'">
              <span class="pointer" (click)="loadMoreSocial()" style="display: block; width: 100%">Load More</span>
            </li>
            <li class="list-group-item center" *ngIf="isSocialLoadmoreLoading">
              <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif" style="width: 100px; height: auto" />
            </li>
            <li class="nodata" *ngIf="socialHistoryList.length==0">
              <p>No Data</p>
            </li>
          </ng-container>
        </ul>
        <ul class="list-group call-history-list social" *ngIf="type==='weeklydashboard'">
          <ng-container *ngIf="isSocialLoading">
            <li class="list-group-item">
              <div class="loader-container">
                <div class="item-1"></div>
                <div class="item-2"></div>
                <div class="item-3"></div>
              </div>
            </li>
          </ng-container>
          <ng-container *ngIf="!isSocialLoading">
            <li class="padding-20">
              <div class="row inline-block nomargin" *ngIf="socialHistoryList[0].incoming.length>0">
                <img src="../../assets/img/incoming.png" />
                <span class="uppercase"> Who called me the most</span>
              </div>
              <div class="row inline-block nomargin week">
                <ul class="inline-block" style="width: 100%">
                  <li *ngFor="let item of socialHistoryList[0].incoming">
                    <div class="center relative">
                      <img [src]="!item.photo?'../../assets/img/img_avatar.png':'https://'+contact_photo_root_path+ch.photo" class="avatar" />
                      <div class="badge incoming-badge-color">
                        {{item.count}}
                      </div>
                    </div>
                    <div class="bottom-tel  ellipse">
                      <span>{{item.number}}</span>
                    </div>
                  </li>
                </ul>
              </div>
            </li>

            <li class="padding-20">
              <div class="row inline-block nomargin" *ngIf="socialHistoryList[0].outgoing.length>0">
                <img src="../../assets/img/outgoing.png" />
                <span class="uppercase"> Who i called the most</span>
              </div>
              <div class="row inline-block nomargin week">
                <ul class="inline-block" style="width: 100%">
                  <li *ngFor="let item of socialHistoryList[0].outgoing">
                    <div class="center relative">
                      <img [src]="!item.photo?'../../assets/img/img_avatar.png':'https://'+contact_photo_root_path+ch.photo" class="avatar" />
                      <div class="badge outgoing-badge-color">
                        {{item.count}}
                      </div>
                    </div>
                    <div class="bottom-tel  ellipse">
                      <span>{{item.number}}</span>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <li class="padding-20">
              <div class="row inline-block nomargin" *ngIf="socialHistoryList[0].most_duration.length>0">
                <span class="fa fa-clock-o"></span>
                <span class="uppercase"> most time spent</span>
              </div>
              <div class="row inline-block nomargin week">
                <ul class="inline-block" style="width: 100%">
                  <li *ngFor="let item of socialHistoryList[0].most_duration">
                    <div class="center relative">
                      <img [src]="!item.photo?'../../assets/img/img_avatar.png':'https://'+contact_photo_root_path+ch.photo" class="avatar" />
                      <!-- <div class="badge outgoing-badge-color">
                              {{item.count}}
                            </div> -->
                    </div>
                    <div class="bottom-tel  ellipse">
                      <span>{{item.number}}</span>
                    </div>
                    <div class="bottom-time ellipse">
                      <span class="fa fa-clock-o"> {{item.totalduration}}</span>
                    </div>
                  </li>
                </ul>
              </div>
            </li>

            <li class="padding-20">
              <div class="row inline-block nomargin" *ngIf="socialHistoryList[0].most_calls.length>0">
                <span class="fa fa-hourglass"></span>
                <span class="uppercase"> longest calls</span>
              </div>
              <div class="row inline-block nomargin week">
                <ul class="inline-block" style="width: 100%">
                  <li *ngFor="let item of socialHistoryList[0].most_calls">
                    <div class="center relative">
                      <img [src]="!item.photo?'../../assets/img/img_avatar.png':'https://'+contact_photo_root_path+ch.photo" class="avatar" />
                      <!-- <div class="badge outgoing-badge-color">
                                {{item.count}}
                              </div> -->
                    </div>
                    <div class="bottom-tel  ellipse">
                      <span>{{item.number}}</span>
                    </div>
                    <div class="bottom-time ellipse">
                      <span>{{item.duration}}</span>
                      <span>
                        <img [src]="item.type===1?'../../assets/img/incoming.png':'../../assets/img/outgoing.png'">
                      </span>
                    </div>
                    <div class="bottom-day ellipse">
                      <span>{{item.day}}</span>
                    </div>
                  </li>
                </ul>
              </div>
            </li>

            <li class="padding-20">
              <div class="row inline-block nomargin" *ngIf="socialHistoryList[0].most_forgot.length>0">
                <i class="fa fa-warning" style="color:red"></i>
                <span class="uppercase"> forgotten calls</span>
              </div>
              <div class="row inline-block nomargin week">
                <ul class="inline-block" style="width: 100%">
                  <li *ngFor="let item of socialHistoryList[0].most_forgot">
                    <div class="center relative">
                      <img [src]="!item.photo?'../../assets/img/img_avatar.png':'https://'+contact_photo_root_path+ch.photo" class="avatar" />
                      <!-- <div class="badge outgoing-badge-color">
                                  {{item.count}}
                                </div> -->
                    </div>
                    <div class="bottom-tel  ellipse">
                      <span>{{item.number}}</span>
                    </div>
                    <div class="bottom-time ellipse">
                      <span>{{item.time}}</span>
                      <span>
                        <img src="../../assets/img/missed.png">
                      </span>
                    </div>
                    <div class="bottom-day ellipse">
                      <span>{{item.day}}</span>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <li *ngIf="socialHistoryList[0].incoming.length===0
            &&socialHistoryList[0].outgoing.length===0
            &&socialHistoryList[0].most_duration.length===0
            &&socialHistoryList[0].most_calls.length===0
            &&socialHistoryList[0].most_forgot.length===0">
              <p style="position: absolute; top: 40%; left:calc(50% - 20px)">
                No Data
              </p>
            </li>
          </ng-container>
        </ul>

      </div>
    </div>
  </div>
  

</div>
<audio id="playAudio" [src]="audioSrc" type="audio/wav" autoplay></audio>


<ng-template #template>
  <!-- <div class="modal-body">
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>

        
  </div> -->
  
  <div class="callhistoryone">
    
      <div class="card card-fixed-height">
        <a _ngcontent-c1="" class="remove absolute-right-top"  (click)="modalRef.hide()"><i _ngcontent-c1="" class="fa fa-times-circle-o" style="font-size: 32px!important"></i></a>
        <div class="row nomargin" style="padding: 9px">
          <img [src]="'../../assets/img/img_avatar.png'" class="avatar specific"/> <span class="cnt-name">{{specific_contactname_of_callhistory||"Unknown number"}}<br/><small class="cnt-number">{{specific_number_of_callhistory}}</small></span>
        </div>
        <div class="row nomargin" style="padding: 9px">
          <div class="col-6 col-sm-6 col-md-6 call-history-date" style="padding-right: 0px;padding-left: 0px"><span class="gray">From</span>
            <input class="form-control pointer" #fDate bsDatepicker [(ngModel)]="callFromDateOne" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
              style="padding-right: 10px;margin-left: calc(0.6vw)" (ngModelChange)="onChangeCallHistoryDateOne()">
            <!-- <input type="date" [(ngModel)]="callFromDate" (change)="onChangeCallHistoryDate()">   -->
            <!-- <i *ngIf="callFromDate" (click)="callFromDate=null;onChangeCallHistoryDate()" class="fa fa-close" style="margin-left: -20px"></i> -->
            <i *ngIf="!callFromDateOne" class="fa fa-angle-down noevent" style="position: absolute;right: 10px;top: 10px;"></i>
            <i *ngIf="callFromDateOne" (click)="callFromDateOne=null;onChangeCallHistoryDateOne()" class="fa fa-close" style="position: absolute;right: 10px;top: 10px;"></i>
          </div>
          <div class="col-6 col-sm-6 col-md-6 call-history-date" style="padding-left: 0.6vw;padding-right: 0px"><span class="gray">To</span>
            <input class="form-control pointer" #tDate="bsDatepicker" bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" [(ngModel)]="callToDateOne"
              style="padding-right: 10px;margin-left: calc(0.6vw)" (ngModelChange)="onChangeCallHistoryDateOne()">
            <!-- <i *ngIf="callToDate" (click)="callToDate=null;onChangeCallHistoryDate()" class="fa fa-close" style="margin-left: -20px"></i> -->
            <i *ngIf="!callToDateOne" class="fa fa-angle-down noevent" style="position: absolute;right: 15px;top: 10px;"></i>
            <i *ngIf="callToDateOne" (click)="callToDateOne=null;onChangeCallHistoryDateOne()" class="fa fa-close" style="position: absolute;right: 15px;top: 10px;"></i>
          </div>
  
        </div>
        <ul class="list-group list-group-flush call-history-list" id="call-history-list">
  
          <ng-container *ngIf="isCallHistoryLoadingOne">
            <li class="">
              <div class="loader-container">
                <div class="item-1"></div>
                <div class="item-2"></div>
                <div class="item-3"></div>
              </div>
            </li>
          </ng-container>
          <ng-container *ngIf="!isCallHistoryLoadingOne">
            <li class="list-group-item" *ngFor="let ch of callLogsOfOne, let i = index">
              <!-- <ul class="nopadding">
                    <li *ngIf="callFromDate!==callToDate || !callFromDate">
                      <div class="col-md-8">
                          <span class="cnt-date">{{ch.date | date}}</span>  
                      </div>
                    </li>
                    <li> -->
              <div class="row dropdown">
                <div class="col-1 col-sm-1 col-md-1">
                  <img src="../../assets/img/incoming.png" *ngIf="ch.type===1" class="callimg" />
                  <img src="../../assets/img/outgoing.png" *ngIf="ch.type===2" class="callimg" />
                  <img src="../../assets/img/missed.png" *ngIf="ch.type===3" class="callimg" />
                </div>
                
                <div class="col-9 col-md-9 col-sm-9" style="padding-right: 0px">
                  <span class="cnt-date">{{ch.date | date}}</span>
                  <br/>
                  <span class="cnt-time">{{ch.date | date:'hh:mm:ss aa'}}</span>
  
                </div>
                <div class="col-2 col-md-2 col-sm-2 center">
                  <i class="fa fa-2x disabled" *ngIf="!ch.recording || !ch.duration" [ngClass]="{'fa-play-circle-o':!callhistory_showone || currentPlayingIndex !== i || (currentPlayingIndex === i && isPaused),'fa-pause-circle-o':currentPlayingIndex === i && !isPaused && callhistory_showone}">
                  </i>
                  <i class="fa fa-2x pointer" *ngIf="ch.recording&&ch.duration" [ngClass]="{'fa-play-circle-o':!callhistory_showone || currentPlayingIndex !== i || (currentPlayingIndex === i && isPaused),'fa-pause-circle-o':currentPlayingIndex === i && !isPaused && callhistory_showone}"
                    (click)="playRecordedCall(ch.recording,i, true)" style="color: #4c8efc"></i>
                  <br/>
                  <span class="cnt-number">{{ch.duration | timestamp :'hh:mm:ss'}}</span>
                </div>
                <!-- <div class="row shadow audio-play-board" *ngIf="ch.recording&&currentPlayingIndex===i" (blur)="closeAudioBoard()" tabindex="{{i}}" style="width: 100%"> -->
                <div class="row shadow audio-play-board" *ngIf="ch.recording&&currentPlayingIndex===i&&callhistory_showone===true" style="width: 100%;padding-top: 11px">
                  <div class="col-md-3 col-xs-3 col-sm-3 center">
                    <span class="fa fa-stop-circle-o middle" style="color: #4c8efc; padding-right: 2px" (click)="onStopAudio()"></span>
                    <span class="middle">{{(currentAudioTime|timestamp:'mm:ss')||"00:00"}}</span>
                  </div>
                  <div class="col-md-6 col-xs-6 col-sm-6 center">
                    <input type="range" min="0" [max]="ch.duration" step="1" class="slider" [value]="currentAudioTime" #ref (change)="setAudioCurTime(ref.value)"
                    />
                  </div>
                  <div class="col-md-3 col-xs-3 col-sm-3 center">
                    <span  class="middle" style="padding-right: 2px">{{ch.duration|timestamp:'mm:ss'}}</span>
                    <span class="middle fa" style="color: #4c8efc" [ngClass]="{'fa-pause-circle-o':isPaused===false,'fa-play-circle-o':isPaused===true}"
                      (click)="playOrPauseAudio()"></span>
                  </div>
                  <a class="remove" (click)="currentPlayingIndex=-1;playAudio.pause();playAudio.currentTime=0">
                    <i class="fa fa-times-circle-o" style="font-size: calc(1vw)!important"></i>
                  </a>
                </div>
              </div>
  
            </li>
            <li class="list-group-item center" *ngIf="!iscallHistoryEndOne && !isCallHistoryLoadmoreLoadingOne">
              <span class="pointer" style="display: block; width: 100%" (click)="loadMoreCallHistoryOfOne()">Load More</span>
            </li>
            <li class="list-group-item center" *ngIf="isCallHistoryLoadmoreLoadingOne">
              <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif" style="width: 100px; height: auto" />
            </li>
          </ng-container>
        </ul>
      </div>
  </div>
</ng-template>