<div class="signup-page">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-6">
        <alert></alert>
        <h1 class="">
        <a routerLink="/">
          <img src="../../../assets/img/logo.png" alt="" class="mx-auto d-block rounded">
        </a>
        </h1>
        <h2>Send Change Password Request</h2>
        <div class="card" align="center">
          <div class="card-body card-body-login">
            <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
              <div class="form-group">
                <input type="email" class="form-control" formControlName="email"  placeholder="Email" required [ngClass]="{'is-invalid': submitted && f.email.errors}">
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
              </div>
              <div class="form-group" style="padding: 10px">
                <button type="submit" class="btn btn-primary"><span class="fa fa-send"></span> Send</button>
              </div>
            </form>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>

