
html, body {
    background: var(--bodybackground);
    /* color: var(--red); */
  }
  
  /* nav bar styling */
  .navbar-brand {
    height: 70px;
  }
  
  .navbar-brand {
    min-height: 70px;
  }
  
  .navbar-brand>img {max-height: 100%;
  }
  .navbar-default {
    background-color: var(--navbarBackground)
  }
  
  
  table styling
  .table>thead>tr>th {
    border-bottom: 0px;
    color: #9b9b9b;
    vertical-align: top;
    text-align: center;
    white-space:nowrap;
    font-family: 'Source Sans Pro', sans-serif; 
  }
  
  .table>tbody>tr {
    /* box-shadow: 1px 0px 3px 0px; */   
    box-shadow: 0 4px 8px 0 rgba(192, 192, 192, 0.2), 0 6px 20px 0 rgba(175, 175, 175, 0.19);
    background-color: var(--tableBodyColor);
  }
  
  .table>tbody>tr>td {
    border-top: 0px;
    vertical-align: middle;
    white-space:nowrap;
    color: #363636;
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 15px;
  }
  
  .custom-table {
    border-spacing: 0px 10px;
    border-collapse: separate;
    padding: 0px 15px;
  }
  
  
  .top{
    padding-top:15px;
  }
  
  
  /*badge */
  .badge{
    margin-bottom: 20px;
    margin-top:15px;
    background-color: lightgreen;
    border-radius: 0.5rem;
    color: white
  }
  .badge1{
    margin-left:-9px;
    padding-bottom: 6px;
    padding-top:6px;
    margin-top:-70px;
    margin-left:820px;
  
  }
  .badge2{
  
    margin-top:15px;
    background-color: grey;
  }
  .v1{
  
    border-left:2px solid white;
    height:30px;
  }
  
  
  /* icon size */
  
  
  /* avatar */
  .avatar {
    margin-left:1040px;
    margin-top:-180px;
    margin-bottom: 10px;
    padding-left:6px;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  /* vertical line */
  .vr1 {
    width:1px;
    background-color:lightgray;
    position:absolute;
    top:0;
    
    bottom:0;
    left:1037px;
  }
  
  
  .vr {
    width:1px;
    background-color:lightgray;
    position:absolute;
    top:0;
    bottom:0;
    left:960px;
  }
  .vr0 {
    width:1px;
    background-color:lightgray;
    position:absolute;
    top:0;
    bottom:0;
    left:820px;
  }
  /* spaceing in header */
  .space{
    line-height:6.5;
    
    
  }
  .spaceing{
    line-height:1.6;
  }
  .spaceing1{
    line-height:2.4;
  }
  
  
    /* 
    .has-search .form-control-feedback {
      right: initial;
      left: 0;
      color: #ccc;
      } */
  
    /* .has-search .form-control {
      padding-right: 12px;
      padding-left: 34px;
    }
    
    .main {
      width: 30%;
      margin: 50px auto;
      } */
  
     /* .fa-search{
     margin-left:100px;
     } */
     .form-control{
      box-shadow: 0px 0px;
      caret-color: transparent;
      color:--var(--bodysearchground)
    }
    .iconi{
      color:lightgray;
      margin-top: 36px;
      padding-bottom: 2px;
      padding-left: 486px;
    }
    .btn{
  
  
      border: none;
      color: white;
      padding: 12px 16px;
      font-size: 16px;
      cursor: pointer;
  
    }
  
    .home-page {
      font-family: 'Source Sans Pro', sans-serif;
    }
    /*header */
    .navbar.navbar-default {
      border: none;
    }
    .user-details {
      padding-left: 0;
      margin: 0;
      list-style-type: none;
    }
    .user-details li {
      padding: 13px 30px;
      display: inline-block;
      border-left: 1px solid lightgray;
      vertical-align: middle;
      line-height: 44px;
    }
    .profile {
      max-width: 45px;
      max-height: 45px;
      border-radius: 100%;
      overflow: hidden;
    }
    .new-user-btn > .btn {
      background-color: blue;
      height: auto;
      padding: 8px 15px;
      font-size: 12px;
      border-radius: 20px;
    }
    .logo {
      margin: 10px 0 0 15px; 
    }
    .logo img {
      width: 45px;
    }
    .setting {
      margin: 4px 0px 0;
      top: 0;
    }
    .setting i {
      color: #556080;
    }
  
    .setting .dropdown-menu {
      margin: 0;
      padding: 0;
      border: 0;
    }
  
    .setting .dropdown-menu li {
      width: 100%;
      padding: 0; 
      text-align: left;
      line-height: 100%;
    }
    .setting .dropdown-menu li a {
      padding: 12px 20px;
    }
  
    .setting .dropdown-menu li a:hover {
      color: #4a90e2;
    }
    /*header end */
  
    .heading {
      margin: 0;
      padding: 15px 15px 20px;
      font-family: 'Source Sans Pro', sans-serif; 
      font-weight: 700; 
    }
  
    .custom-table.table > tbody > tr > td {
      text-align: center;
    }
  
    .custom-table.table > tbody > tr > td:first-child {
      border-radius: 8px 0 0 8px;
    }
    .custom-table.table > tbody > tr > td:last-child {
      border-radius: 0 8px 8px 0;
    }
  
  
    .date {
      font-size: 12px;
      color: #bcc2d4;
      text-align: left;
      /* padding: 0px 18px; */
    }
  
    span.action {
      font-size: 29px; 
      margin-top: -20px;
      display: inline-block;
      cursor: pointer;
      letter-spacing: -1.5px;
    }
    .employee-action {
      margin: 0;
      padding: 0;
      border: 0;
    }
    .employee-action .dropdown-menu {
      margin: 0;
      border: none;
      padding: 0;
    }
  
    .employee-action ul {
      list-style-type: none;
      padding: 0;
    }
    .employee-action ul li {
      padding:  10px 40px 10px 20px;
      cursor: pointer;
      font-size: 14px;
    }
  
    .employee-action ul li:hover {
      background-color: #f5f5f5;
      color: #4a90e2;
    }
  
    .employee-action ul li:first-child {
      padding: 15px 40px 15px 20px;
      border-bottom: 1px solid rgba(208,214,230,.5);
    }
  
    .employee-action ul li:first-child > span {
      margin-left: 10px;
      display: inline-block;
    }
  
    .employee-action ul li:first-child:hover {
      background-color: transparent;
      color: initial;
    }
  
    .modal-icon{
      margin-top:110px;
      margin-left:270px;
    }
  
    .modal-body h4{
      margin-top:40px;
      font: 24px arial, sans-serif;
      font-weight: normal;
      color:#675c5c;
    }
    input {
      
      margin-bottom:42px;
      display: block;
      border: none;
      padding: 10px 0;
      -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
      transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
      background: -webkit-linear-gradient(top, rgba(84, 97, 221, 0) 96%, #ACC3FE 90%);
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%,#ACC3FE 90%);
      background-position: -700px 0;
      background-size: 499px 100%;
      background-repeat: no-repeat;
      
    }
    
    input:focus, input:valid {
     box-shadow: none;
     outline: none;
     background-position: 0 0;
     color: black;
    }
    label{
      color:#ccc;
      margin-top: -3px;
    }
  
    .modal-create{
      padding-top: 17px;
      padding-bottom: 18px;
      padding-left: 49px;
      padding-right: 48px;
      color:white;
      margin-left:262px;
      background-color:#5988FD
    }
  
    /* input[type=text]:focus {
      box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    } */
    .modal-button{
      padding-top: 17px;
      padding-bottom: 18px;
      padding-left: 49px;
    
      padding-right: 48px;
      color:black;
      border:1px solid lightgray;
      background-color: white;
    }
  
.search-block input{
    display: inline-block;
    max-width: 150px;
    margin: 10px;
    background-color: #f8fafc;
    border-radius: 0px;
    padding-left: 30px;
    padding-right: 5px;
    border: .5px solid #cfcfe4;
    text-align: center;
    font-weight: bold;
}
.search-block {
    text-align: right;
}

.table thead th{
    vertical-align: top;
    font-size: 13px;
}

a.dropdown:hover{
    cursor: pointer;
}

th{
  color: #acacac;
}

input{
  background: none;
}