<div id="chart-container">
    <div *ngIf="isDataExist" [chart]="chart"></div>
    <div *ngIf="isDataExist" class="row" style="margin-top: -26px!important">
      <div class="col-md-6 col-sm-6 col-6" style="text-align: left">
        <span style="font-size: 12px">{{minDate}}</span>
      </div>
      <div class="col-md-6 col-sm-6 col-6" style="text-align: right">
        <span style="font-size: 12px">{{maxDate}}</span>
      </div>
    </div>
    <div *ngIf="!isDataExist&&!isLoading" style="text-align: center; position: absolute; left: calc(50% - 29px); top: 40%">No Data</div>
    <div *ngIf="isLoading" style="position: absolute; left: 0px; top: 0px; opacity: .7;width: 100%;height: 100%;">
      <li class="list-group-item" style="height: 100%">
        <div class="loader-container" style="height: 100%">
          <div class="item-1"></div>
          <div class="item-2"></div>
          <div class="item-3"></div>
        </div>
      </li>
    </div>
</div>
